@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.body{
    background-color: white;
}

.exploring h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 10px;
    font-size: 30px;
    text-align: center;
}

.exploring hr{
    color: tomato;
    width: 26%;
    height: 1px;
    border: none;
    background-color: red;
}

.categoriess a img{
    height: 50px;
    width: 50px;
    
}

.cat1{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

.cat1 h4{
    margin: 1px auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.roww-1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}


.roww-2{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    right: 30%;
    position: absolute;
    cursor: pointer;
}

.cat2{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

.cat2 h4{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    text-decoration: none; 
}

.roww-1 a h4,.roww-2 a h4{
    color: black;
    text-decoration: none;
}
.roww-1 a,.roww-2 a{
    color: black;
    text-decoration: none;
}

.roww-1 .ir1:hover{
    color: salmon;  
}


